/*  your css code here. If applicable */
body{
	background-color:rgb(135, 206, 235);
}

#my-article p:first-child{
	color:white;
	background-color:black;
}

#my-article p:nth-child(2){
	
}

#my-article p:last-child{
	color:red;
}

#eg-ul li:nth-child(odd){
	background-color:white;
}

#eg-ul li{
	background-color:gray;
	width:50%;
	padding:10px;
}

#eg-ul li:first-child,#eg-ul li:last-child{
	font-size:22px;
}
#eg-ul li:nth-child(3){
	background-color:pink;
}


